@use "../presets/" as *;
@use "../mixins/" as *;

// .header {
// }

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: $color-dark;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    display: block;
    font-family: $font-header;
    color: $color-accent;
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -0.33em;
    @extend %text-shadow;
  }

  &__description {
    display: block;
    color: $color-white;
    font-size: 1.15rem;
    letter-spacing: 0.2em;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
  }
}
