@use "../presets/" as *;
@use "../mixins/" as *;

.sidebar-left {
  margin-bottom: 80px;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;

  &__image {
    width: 100%;
  }
}

.site-sear—Åh {
  .col-lg-6 {
    width: 100%;
  }
}

.user-login {
  position: relative;
  &__tabs {
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
    a {
      border: none !important;
      color: $color-gray;
      background-color: transparent !important;
      padding: 14px 5px 12px 5px !important;
    }
    .active a {
      color: $color-white !important;
    }
  }
}

.site-news-item {
  clear: both;
  position: relative;

  &:not(:last-of-type) {
    min-height: 85px;
    margin-bottom: $gap;
    &::after {
      content: "";
      height: 1px;
      bottom: -5px;
      width: calc(100% - 85px);
      background-color: $color-gray;
      position: absolute;
      right: 0;
    }
  }

  &:hover {
    a {
      color: $color-accent;
    }

    .thumbnail {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }

  &__thumbnail {
    float: left;
    width: 75px;
    margin: 0 10px 10px 0;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__date {
    text-align: right;
    font-size: 0.8rem;
    color: $color-gray-dark;
  }

  &__link {
    transition: 0.25s;
    @include block-shortener(1rem, 1.5, 50px, 2);
  }
}

.reting-films {
  &__body {
    padding-left: 0;
    padding-right: 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    padding-right: 55px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: transparent;
    color: $color-primary !important;

    &:first-child {
      border-radius: 0;
      border-top: none;
    }

    &:last-child {
      border-radius: 0;
      border-bottom: none;
    }

    &:hover,
    &:focus {
      background-color: $color-accent !important;
      color: $color-white !important;
      border-color: $color-accent;

      .badge {
        background-color: $color-dark;
      }
    }
  }

  &__badge {
    position: absolute;
    top: 50%;
    right: $gap;
    transform: translateY(-50%);
  }
}
